## This is an example file to insert one or more consumers to the database
## Lines with a '#' are getting ignored
## The first non comment line needs to specify the element you want to add,
## in this case a consumer

TYPE=consumer

## To insert a consumer, you need at least the name.
## The next line is an example to add one user with default settings
## (credit=0, karma=0, active=true)

## Hans Peter Meier

## To add more users with default settings, just write them line by line

## Hans Peter Meier
## Laura Mustermann

## To add a user with values different to the default settings, you can
## seperate them with one or multiple blank spaces. The order must be like this:
## Name                Credit      Active        Karma

## Hans Peter Meier    200         1             0
## Laura Mustermann    1000        0             10

## You can even mix the different insert formats
## Name                Credit      Active        Karma

## Hans Peter Meier    200         1             0
## Laura Mustermann    1000
## Lukas Müller
